#icons-home{

    text-align: center;

}

.card{

    width: 400px;
    height: 100px;
    /* text-align: center;
    align-items: center; */
    color: black;
}



.card-body{
    display: flex;
    width: 400px;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.card-body a{
    width: 400px;
    height: 100px;
    color: black;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;    
}

.card-body:hover{
    background-color: #f2f2f2;
    border: 2px solid black;
    border-radius: 5px;
}

.col{
    display: flex; 
    justify-content: center;
    opacity: 0; /* Inicialmente invisível */
    transform: translateX(-100%);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fadeinleft {
    opacity: 1;
    transform: translateX(0);
}